<br>
<div class="card text-bg-dark mb-3 diseño_formulario" style="max-width: 65rem;">
  <div class="card-header">Formulario producto </div>
  <div class="card-body">
    <h5 class="card-title">Formulario</h5>
      <form class="row g-3">

        <div class="col-md-7">
          <label for="nombre" class="form-label">Nombre del producto.</label>
          <input type="text" class="form-control" placeholder="Ingresar nombre del proveedor..." [(ngModel)] = "producto.nombre" name="nombre">
        </div>

        <div class="col-md-7">
          <label for="descripcion" class="form-label">Ingrese una descripcion.</label>
          <input type="tel" class="form-control" placeholder="Ingresar descripcion del proveedor..." [(ngModel)] = 'producto.descripcion' name="descripcion" >
        </div>

      <!-- TODO Autocomplete con angular material -->
      <div class="col-md-7">
        <label class="form-label">Nombre del proveedor</label>

        <br>
        <mat-form-field class="example-full-width">
          <mat-label for="proveedor">Nombre del proveedor</mat-label>
          <input type="text"
                 placeholder="Agregar proveedor"
                 matInput
                 [formControl]="autoCompletado"
                 [matAutocomplete]="auto" [(ngModel)] = 'producto.proveedor' name="proveedor">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let nombreDelProveedor of proveedoresFiltrados | async" [value]="nombreDelProveedor.nombre">
              {{nombreDelProveedor.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </div>

      <br>

        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-success" role="boton-crear" (click)="create()">Agregar</button>
            <button class="btn btn-warning" role="boton-cancelar" routerLink="/page-producto">Cancelar</button>
          </div>
        </div>

    </form>
  </div>
</div>
