<br>
<div class="card text-bg-dark mb-3 diseño_formulario" style="max-width: 65rem;">
  <div class="card-header">Formulario servicio </div>
  <div class="card-body">
    <h1 class="card-title">Formulario</h1>
    <form class="row g-3">
<!-- ** Listo -->
      <div class="col-md-7">
        <label for="fecha" class="form-label">Fecha.</label>
        <input type="date" class="form-control"  placeholder="Ingrese la fecha..." [(ngModel)] = "serviciosARealizar.fecha" name="fecha">
      </div>
<!-- ** Listo -->
      <div class="col-md-7">
        <label for="hora" class="form-label">Hora.</label>
        <input type="time" class="form-control"  placeholder="Ingresar hora..." [(ngModel)] = "serviciosARealizar.hora" name="hora">
      </div>

<!-- ** Listo -->
      <div class="col-md-7">
        <label for="listaCliente" class="col-form-label ">Nombre del cliente <i class="bi bi-briefcase"></i></label>
          <div class="col-sm-6">
            <select [compareWith]="compararClientes" class="form-control" [(ngModel)]="serviciosARealizar.cliente" name="listaCliente">
              <option *ngFor="let listaCliente of listaClientes" [ngValue]="listaCliente"> {{listaCliente.id}}.- {{listaCliente.nombre}} </option>
            </select>
          </div>
      </div>


      <!-- TODO Falta mejorar o no hace bien su funcion -->
      <!-- <div>
        <mat-form-field class="example-full-width">
          <mat-label for="clienteFiltrado">Nombre del cliente</mat-label>
          <input type="text"
                 placeholder="Agregar cliente"
                 matInput
                 [formControl]="autoCompletado"
                 [matAutocomplete]="auto" [(ngModel)] = 'serviciosARealizar.cliente'  name="clienteFiltrado">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let clienteFiltrado of clientesFiltrados | async" [value]="clienteFiltrado.nombre">
              {{clienteFiltrado.id}}.- {{clienteFiltrado.nombre}} {{clienteFiltrado.apellido1}} {{clienteFiltrado.apellido2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </div> -->

    <!-- ** Listo -->
      <div class="col-md-7">
        <label for="tipoDeServicio" class="col-form-label ">Tipo de servicio <i class="bi bi-briefcase"></i></label>
          <div class="col-sm-6">
            <select [compareWith]="compararTipoServicios" class="form-control" [(ngModel)]="serviciosARealizar.servicio" name="tipoDeServicio">
              <option *ngFor="let tipoDeServicio of tipoDeServicios" [ngValue]="tipoDeServicio"> {{tipoDeServicio.id}}.- {{tipoDeServicio.nombre}} </option>
            </select>
          </div>
      </div>


      <!-- ! No se que sea aqui -->
      <!-- <div class="col-md-4">
        <label for="inputState" class="form-label">Tipo de empleado</label>
        <select id="inputState" class="form-select">
          <option selected>Seleccionar rol del empelado...</option>
          <option>Manager</option>
          <option>Empleado de limpieza</option>
        </select>
      </div> -->


      <!-- TODO Autocomplete con angular material -->
      <!-- <div class="col-md-7">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del proveedor</mat-label>
          <input type="text"
                 placeholder="Agregar proveedor"
                 aria-label="Number"
                 matInput
                 [formControl]="autoCompletado"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let nombreDelProveedor of proveedoresFiltrados | async" [value]="nombreDelProveedor.nombre">
              {{nombreDelProveedor.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </div> -->


      <div class="col-10">
          <button class="btn btn-success col-2 m-lg-2" role="button" (click)='create()' *ngIf="!serviciosARealizar.folio else elseBlock"></button>
        <ng-template #elseBlock>
          <button class="btn btn-success col-2 m-lg-2" role="button" (click)='update()'>Editar</button>
        </ng-template>

        <button class="btn btn-danger col-2 m-lg-2" [routerLink]="['/page-servicio']">Cancelar</button>
      </div>

    </form>
  </div>
</div>
