<div *ngIf="modalMonitoreoService.modal" class="modal fondo_borroso" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Reporte del servicio {{monitoreo.folio}} </h1>
        <button type="button" class="btn-close" (click)="cerrarModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul *ngIf="monitoreo" class="list-group list-group-flush">
          <li class="list-group-item">Nombre del cliente: {{monitoreo.servicio.cliente.nombre}} {{monitoreo.servicio.cliente.apellido1}} {{monitoreo.servicio.cliente.apellido2}} </li>
          <li class="list-group-item">Nombre del empleado: {{monitoreo.empleado.nombre}} {{monitoreo.empleado.apellido1}} {{monitoreo.manager.apellido2}}  </li>
          <li class="list-group-item">No. Piso: {{monitoreo.servicio.cliente.habitacion.piso}} </li>
          <li class="list-group-item">No. Habitación: {{monitoreo.servicio.cliente.habitacion.nombre}} </li>
        </ul>
        <!-- ! Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" >
          <label class="form-check-label" for="flexCheckDefault">
            {{monitoreo.servicio.servicio.nombre}}
          </label>
        </div>
        <!-- <div class="form-check">
          <input class="form-check-input" type="checkbox" >
          <label class="form-check-label" for="flexCheckDefault">
            Se cambio bolsas de basura
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" >
          <label class="form-check-label" for="flexCheckDefault">
            Se limpio el baño
          </label>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-bs-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-success">Finalizado</button>
      </div>
    </div>
  </div>
</div>
