<br>
<ul class="alert alert-danger" *ngIf="errores?.length>0">
  <li *ngFor="let err of errores"> {{err}} </li>
</ul>

<div class="card text-bg-dark mb-3 diseño_formulario" style="max-width: 65rem;">
  <h3 class="card-header">Formulario del personal </h3>
  <div class="card-body">
    <h3 class="card-title">Forulario</h3>
    <form class="row g-3">

      <div class="col-md-7">
        <label for="nombre" class="form-label">Nombre(s)</label>
        <input type="text" class="form-control" placeholder="Ingresar nombre..." [(ngModel)] ="personal.nombre" name="nombre" #nombre="ngModel" required minlength="3" maxlength="30" />    <!-- -->
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
            Nombre es requerido
          </div>
          <div *ngIf="nombre.errors.minlength">
            Nombre debe tener al menos 3 caracteres
          </div>
          <div *ngIf="nombre.errors.maxlength">
            Nombre debe tener máximo 30 digitos
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <label for="apellido1" class="form-label">Apellido paterno</label>
        <input type="text" class="form-control" placeholder="Ingresar apellido paterno" [(ngModel)] = "personal.apellido1" name="apellido1" #apellido1="ngModel" required minlength="3" maxlength="15" />    <!-- -->
        <div class="alert alert-danger" *ngIf="apellido1.invalid && (apellido1.dirty || apellido1.touched)">
          <div *ngIf="apellido1.errors.required">
            Apellido paterno es requerido
          </div>
          <div *ngIf="apellido1.errors.minlength">
            Apellido paterno debe tener al menos 3 caracteres
          </div>
          <div *ngIf="apellido1.errors.maxlength">
            Apellido paterno debe tener máximo 15 digitos
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <label for="apellido2" class="form-label">Apellido materno</label>
        <input type="text" class="form-control" placeholder="Ingresar apellido materno" [(ngModel)]="personal.apellido2" name="apellido2" #apellido2="ngModel"  minlength="3" maxlength="15" />    <!-- -->
        <div class="alert alert-danger" *ngIf="apellido2.invalid && (apellido2.dirty || apellido2.touched)">
          <div *ngIf="apellido2.errors.minlength">
            Apellido materno debe tener al menos 3 caracteres
          </div>
          <div *ngIf="apellido2.errors.maxlength">
            Apellido materno debe tener máximo 15 digitos
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="tel" class="form-control" placeholder="Ingresar apellido materno" [(ngModel)]="personal.telefono" name="telefono" required  minlength="7" maxlength="10" #telefono="ngModel" />
        <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
          <div *ngIf="telefono.errors.required">
            Teléfono es requerido
          </div>
          <div *ngIf="telefono.errors.minlength">
            Teléfono debe tener al menos 7 digitos
          </div>
          <div *ngIf="telefono.errors.maxlength">
            Teléfono debe tener máximo 10 digitos
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" placeholder="Ingresar correo" [(ngModel)]="personal.correo" name="correo" maxlength="50" required>
      </div>

      <div class="col-md-6">
        <label for="roles" class="col-form-label ">Rol del empleado <i class="bi bi-briefcase"></i></label>
          <div class="col-md-12">
            <select [compareWith]="compararTipoEmpleado" class="form-control" [(ngModel)]="personal.tipoDeEmpleado" name="listaRol">
              <option *ngFor="let listaRol of listaDeRoles" [ngValue]="listaRol"> {{listaRol.id}}.- {{listaRol.tipoDeEmpleado}} </option>
            </select>
          </div>
      </div>

      <div class="col-md-6">
        <label for="manager" class="col-form-label">Manager <i class="bi bi-briefcase"></i></label>
          <div class="col-md-12">
            <select [compareWith]="compararListaManager" class="form-control" [(ngModel)]="personal.jefe" name="listaManager">
              <option *ngFor="let listaManager of listaManagers" [ngValue]="listaManager"> {{listaManager.id}}.- {{listaManager.nombre}} </option>
            </select>
          </div>
      </div>

      <div class="col-10">
        <button class="btn btn-success col-2 m-lg-2" role="boton" (click)="create()" *ngIf="!personal.id else elseBlock"> Crear</button>
      <ng-template #elseBlock>
        <button class="btn btn-success col-2 m-lg-2" role="boton" (click)="update()">Editar</button>
      </ng-template>
      <button class="btn btn-danger col-2 m-lg-2" routerLink="/page-personal">Cancelar</button>
      </div>
    </form>
  </div>
</div>
