<div class="card color-bg-card " style="max-width: 70em;">
  <div class="card-header">Sección del personal</div>
  <div class="card-body">

    <form class="row g-3">
      <div class="col-md-7">
        <label for="inputEmail4" class="form-label">Nombre(s)</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Ingresar nombre">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Apellido paterno</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Ingresar apellido paterno">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Telefono</label>
        <input type="tel" class="form-control" id="inputPassword4" placeholder="Ingresar apellido materno">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Correo</label>
        <input type="email" class="form-control" id="inputPassword4" placeholder="Ingresar correo">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Tipo de empleado</label>
        <select id="inputState" class="form-select">
          <option selected>Seleccionar rol del empelado...</option>
          <option>Manager</option>
          <option>Empleado de limpieza</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Jefe</label>
        <select id="inputState" class="form-select">
          <option selected>Seleccione el jefe...</option>
          <option>Jefe 1</option>
          <option>Jefe 2</option>
          <option>Jefe 3</option>
        </select>
      </div>
      <div class="col-12">
        <button class="btn btn-success col-1">Editar</button>
        <button class="btn btn-danger col-1" [routerLink]="['/page-personal']">Cancelar</button>
      </div>
    </form>

  </div>
</div>
