<modal-monitoreo *ngIf="monitoreoSeleccionado" [monitoreo] = monitoreoSeleccionado> </modal-monitoreo>


<div class="card border-primary" style="max-width: 69rem;">
  <div class="card-header">Sección de monitoreo</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de monitoreo</h5>

    <div class="form-control">
      <buscadorBox (onDebouce)="busquedaPorNombreManager($event)" placeholder="Busqueda del manager"></buscadorBox>
    </div>

    <div *ngIf="monitoreoBusquedas.length === 0 else tablaMonitoreoBusq"></div>

    <ng-template #tablaMonitoreoBusq>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Manager</th>
          <th>Servicio</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monitoreoBusqueda of monitoreoBusquedas">
          <td>{{ monitoreoBusqueda.folio }}</td>
          <td>{{ monitoreoBusqueda.fecha }}</td>
          <td>{{ monitoreoBusqueda.hora }}</td>
          <td>{{ monitoreoBusqueda.manager.nombre }}</td>
          <td>{{ monitoreoBusqueda.servicio.servicio.nombre }}</td>
          <td>{{ monitoreoBusqueda.servicio.cliente.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  </div>


    <hr>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Servicio</th>
          <th>Nivel de piso</th>
          <th>Habitación</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monitoreo of monitoreos" >
          <td>{{ monitoreo.folio }}</td>
          <td>{{ monitoreo.fecha }}</td>
          <td>{{ monitoreo.hora }}</td>
          <td>{{ monitoreo.servicio.servicio.nombre }}</td>
          <td>Nivel {{ monitoreo.servicio.cliente.habitacion.piso}}</td>
          <td>{{ monitoreo.servicio.cliente.habitacion.nombre}}</td>
          <td> <button type="button" class="btn btn-primary" (click)="abrirModal(monitoreo)" data-bs-toggle="modal" >Reporte</button> </td>
        </tr>
      </tbody>
    </table>
  </div>


