<div class="card border-primary" style="max-width: 69rem;">
  <div class="card-header">Sección de monitoreo</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de monitoreo</h5>

    <div class="form-control">
      <buscadorBox (onDebouce)="busquedaPorNombreManager($event)" placeholder="Busqueda del manager"></buscadorBox>
    </div>

    <div *ngIf="monitoreoBusquedas.length === 0 else tablaMonitoreoBusq"></div>

    <ng-template #tablaMonitoreoBusq>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Manager</th>
          <th>Servicio</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monitoreoBusqueda of monitoreoBusquedas">
          <td>{{ monitoreoBusqueda.folio }}</td>
          <td>{{ monitoreoBusqueda.fecha }}</td>
          <td>{{ monitoreoBusqueda.hora }}</td>
          <td>{{ monitoreoBusqueda.manager.id }}</td>
          <td>{{ monitoreoBusqueda.servicio.folio }}</td>
          <td>{{ monitoreoBusqueda.cliente.id}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  </div>


    <hr>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Manager</th>
          <th>Servicio</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monitoreo of monitoreos" >
          <td>{{ monitoreo.folio }}</td>
          <td>{{ monitoreo.fecha }}</td>
          <td>{{ monitoreo.hora }}</td>
          <td>{{ monitoreo.manager.id }}</td>
          <td>{{ monitoreo.servicio.folio }}</td>
          <td>{{ monitoreo.servicio.cliente.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>


