<div class=" border-right p-3 posicion_fijo " >
  <img class="img-logo" src="./assets/img/logo2.jpeg" alt="Logo" >
  <!-- <h3 class="text-light">Hotel Clean</h3> -->
  <hr class="text-bg-light">

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-servicio">
        Servicos <i class="bi bi-dropbox"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-cliente">
        Clientes <i class="bi bi-person-square"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-personal">
        Personal <i class="bi bi-file-person-fill"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-proveedor">
        Proveedor <i class="bi bi-database-fill-gear"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-producto">
        Productos <i class="bi bi-basket"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-monitoreo">
        Monitoreo <i class="bi bi-clipboard-check-fill"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-reporte">
        Reporte <i class="bi bi-database-fill-gear"></i>
      </button>
    </div>

</div>
