<div class="bg-black border-right p-3 " >
  <h3 class="text-light">Nombre de la empresa </h3>
  <hr class="text-bg-light">

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav">
        Inicio <i class="bi bi-house-fill"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-servicio">
        Servicos <i class="bi bi-dropbox"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-producto">
        Productos <i class="bi bi-basket"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav" routerLink="page-personal">
        Personal <i class="bi bi-file-person-fill"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav">
        Resultados <i class="bi bi-graph-up"></i>
      </button>
    </div>
    <br>

    <div class="list-group list-reset">
      <button class="list-group-item list-group-item-action mi-boton-nav">
        Consultas <i class="bi bi-database-fill-gear"></i>
      </button>
    </div>
</div>
