<div class="card border-primary" style="max-width: 69rem;">
  <h3 class="card-header"> Sección del servicio </h3>
  <div class="card-body text-primary">
    <h3 class="card-title">Tabla de servicio a realizar</h3>

    <div>
      <button class="btn btn-success" type="button" [routerLink]="['/servicio/formulario-servicio']">Crear servicio</button>
    </div>
    <br>

    <div class="form-control">
      <buscadorBox (onDebouce)="busquedaPorNombreCliente($event)" placeholder="Buscar del cliente"></buscadorBox>
    </div>

    <div *ngIf="servicioARealizarBusquedas.length === 0 else tablaServARealizarBusq"></div>

    <ng-template #tablaServARealizarBusq>
      <div class="row">
        <div class="col">
        <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th>Folio</th>
          <th>Servicio</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Cliente</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicioARealizarBusqueda of servicioARealizarBusquedas">
          <td> {{servicioARealizarBusqueda.folio}} </td>
          <td> {{servicioARealizarBusqueda.servicio.nombre}} </td>
          <td> {{servicioARealizarBusqueda.fecha}} </td>
          <td> {{servicioARealizarBusqueda.hora}} </td>
          <td> {{servicioARealizarBusqueda.cliente.nombre}} {{servicioARealizarBusqueda.cliente.apellido1}} {{servicioARealizarBusqueda.cliente.apellido2}} </td>
          <td>
            <button class="btn btn-warning" [routerLink]="['/servicio/formulario-servicio', servicioARealizarBusqueda.folio]">Editar</button>
          </td>
          <td> <button class="btn btn-danger" (click)=" deleteBusquedaServicioARealizar(servicioARealizarBusqueda)">Cancelar</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</ng-template>
  </div>


    <hr>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Servicio</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicioARealizar of serviciosARealizar" >
          <td> {{servicioARealizar.folio}} </td>
          <td> {{servicioARealizar.servicio.nombre}} </td>
          <td> {{servicioARealizar.fecha}} </td>
          <td> {{servicioARealizar.hora}} </td>
          <td> {{servicioARealizar.cliente.nombre}} {{servicioARealizar.cliente.apellido1}} {{servicioARealizar.cliente.apellido2}} </td>
        </tr>
      </tbody>
    </table>
</div>
