<div class="card border-primary" style="max-width: 69rem;">
  <div class="card-header">Sección de personal</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Tablla de personal</h5>

    <div class="form-control">
      <buscadorBox (onDebouce)="busquedaPorNombreEmpleado($event)" placeholder="Busqueda del personal"></buscadorBox>
    </div>

    <div *ngIf="personalBusquedas.length === 0 else tablaEmpleadoBusq"></div>

    <ng-template #tablaEmpleadoBusq>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personalBusqueda of personalBusquedas">
          <td>{{ personalBusqueda.id }}</td>
          <td>{{ personalBusqueda.nombre }}</td>
          <td>{{ personalBusqueda.apellido1 }}</td>
          <td>{{ personalBusqueda.apellido2 }}</td>
          <td>{{ personalBusqueda.telefono }}</td>
          <td>{{ personalBusqueda.correo }}</td>
          <td>{{ personalBusqueda.tipoDeEmpleado.tipoDeEmpleado}}</td>
          <td><button class="btn btn-warning" [routerLink]="['/personal/formulario-personal']">Editar</button></td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  </div>


    <hr>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personal of personales" >
          <td>{{personal.id}}</td>
          <td>{{personal.nombre}}</td>
          <td>{{personal.apellido1}}</td>
          <td>{{personal.apellido2}}</td>
          <td>{{personal.telefono}}</td>
          <td>{{personal.correo}}</td>
          <td>{{personal.tipoDeEmpleado.tipoDeEmpleado}}</td>
          <td><button class="btn btn-warning" [routerLink]="['/personal/formulario-personal']">Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>


