<div class="card border-primary" style="max-width: 69rem">
  <h3 class="card-header">Sección de clientes</h3>
  <div class="card-body text-primary">
    <h3 class="card-title">Tabla de clientes</h3>

    <div class="form-control">
      <buscadorBox (onDebouce)="busquedaPorNombre($event)" placeholder="Busqueda de cliente"></buscadorBox>
    </div>

    <div *ngIf="clienteBusquedas.length === 0 else tablaClienteBusq">
    </div>

    <ng-template #tablaClienteBusq>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del cliente</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Piso</th>
          <th>Habitacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clienteBusqueda of clienteBusquedas">
          <td>{{ clienteBusqueda.id }}</td>
          <td>{{ clienteBusqueda.nombre }}</td>
          <td>{{ clienteBusqueda.apellido1 }}</td>
          <td>{{ clienteBusqueda.apellido2 }}</td>
          <td>{{ clienteBusqueda.telefono }}</td>
          <td>{{ clienteBusqueda.correo }}</td>
          <td>{{ clienteBusqueda.habitacion.piso }}</td>
          <td>{{ clienteBusqueda.habitacion.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  </div>


    <hr>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del cliente</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Piso</th>
          <th>Habitacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido1 }}</td>
          <td>{{ cliente.apellido2 }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.habitacion.piso }}</td>
          <td>{{ cliente.habitacion.nombre }}</td>
        </tr>
      </tbody>
    </table>
</div>
