<div class="card border-primary" style="max-width: 69rem">
  <div class="card-header">Sección de clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Tablla de clientes</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del cliente</th>
          <th>Apellido paterno</th>
          <th>Apellido materno</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Piso</th>
          <th>Habitacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido1 }}</td>
          <td>{{ cliente.apellido2 }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.habitacion.piso }}</td>
          <td>{{ cliente.habitacion.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
